@model KursyMVC.Models.question

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/Logged.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <tr>
                <td>
                    <div class="form-group">
                        @Html.Label(Model.QuestionText, htmlAttributes: new {@class = "form-control" })
                    </div>
                </td>
            </tr>
        <div class="form-group form-inline">
            @Html.EditorFor(model => Model.Checkboxes[0], new {htmlAttributes = new {@class = "form-control", style = "width:20px;" } })
            @Html.Label(Model.Answers[0])
        </div>
        <div class="form-group form-inline">
            @Html.EditorFor(model => Model.Checkboxes[1], new {htmlAttributes = new {@class = "form-control", style = "width:20px;" } })
            @Html.Label(Model.Answers[1])
        </div>          <div class="form-group form-inline">
            @Html.EditorFor(model => Model.Checkboxes[2], new {htmlAttributes = new {@class = "form-control", style = "width:20px;" } })
            @Html.Label(Model.Answers[2])
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dalej" class="btn btn-default" />
            </div>
        </div>
    </div>
}

